@model AppVentasWeb.Data.Entidades.Ciudad


<div class="form-group row mb-3">
    <div class="col-sm-2">
        @Html.DisplayNameFor(model => model.Nombre)
    </div>

    <div class="col-sm-8">
        @Html.DisplayFor(model => model.Nombre)
    </div>
</div>
