@model AppVentasWeb.Models.ComunaViewModel

@{
    ViewData["Title"] = "AddComuna";
}


<div class="card">
    <div class="card-header">
        <h5 class="card-title">Crear Comuna</h5>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-8">

                <form asp-action="AddComuna">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="RegionId" />
                    
                    <partial name="_Comuna" />

                    <div class="form-group row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-4">
                            <input type="submit" value="Crear" class="btn btn-success" />
                            <a asp-action="DetailsRegion" asp-route-id="@Model.RegionId" class="btn btn-primary">Volver</a>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}






