@model AppVentasWeb.Models.CiudadViewModel

@{
    ViewData["Title"] = "AddCiudad";
}
<flash dismissable="true" />

<div class="card">
    <div class="card-header">
        <h5 class="card-title">Crear Ciudad</h5>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-8">

                <form asp-action="AddCiudad">
                    @Html.AntiForgeryToken()
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="ComunaId" />

                    <partial name="_Ciudad" />

                    <div class="form-group row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-4">
                            <input type="submit" value="Crear" class="btn btn-success" />
                            <a asp-action="DetailsComuna" asp-route-id="@Model.ComunaId" class="btn btn-primary">Volver</a>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}








