@model AppVentasWeb.Data.Entidades.Ciudad
@{
    ViewData["Title"] = "DeleteCiudad";
}

<div class="card">

    <div class="card-header">
        <h5 class="card-title">Borrar Ciudad</h5>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-md-8">
                <p>¿Esta seguro de querer borrar?</p>

                @*<-- Campos del formulario en visat parcial -->*@
                <partial name="_CiudadDetalle" />

                <form asp-action="DeleteCiudad">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-4">
                            <input type="hidden" asp-for="Id" />
                            <input type="submit" value="Borrar" class="btn btn-danger" />
                            <a asp-action="DetailsComuna" class="btn btn-success" asp-route-id="@Model?.Comuna.Id">Volver</a>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>






