@model AppVentasWeb.Models.AddCategoryProductViewModel
@{
    ViewData["Title"] = "AddCategory";
    Layout = null;
}

<flash dismissable="true" />

<div class="container smfont">
    <form asp-action="AddCategory" enctype="multipart/form-data" autocomplete="off" asp-route-id="@Model.ProductoId" onsubmit="return jQueryAjaxPost(this);">
        <div class="box-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProductoId" />
            <input type="hidden" asp-for="Categories" />

            <div class="form-group">
                <label asp-for="CategoryId" class="control-label mb-2"></label>
                <select asp-for="CategoryId" asp-items="Model.Categories" class="form-control"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fa-solid fa-ban"></i> Cerrar</button>
            <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Guardar</button>
        </div>
    </form>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
