@model AppVentasWeb.Data.Entidades.Producto
@{
    ViewData["Title"] = "Delete";
}

<div class="card">

    <div class="card-header">
        <h5 class="card-title">Borrar Producto</h5>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-md-8">
                <p>¿Esta seguro de querer borrar?</p>

                <partial name="_ProductoDetails" />
                <form asp-action="Delete">
                    @Html.AntiForgeryToken()
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value="Borrar" class="btn btn-outline-danger" />
                    <a asp-action="Index" class="btn btn-outline-success">Regresar</a>
                </form>
              
            </div>
        </div>
    </div>
</div>

